

// intro

.section__intro {
      padding: 87px 0px 140px 0px;
      max-height: 785px;

      position: relative;
}

.intro__wrapper {
      max-width: 100%;
      width: 100%;

      display: $d-f;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 1;
}

.intro__elipse-red {
      position: absolute;
      background-color: #FA7515;
      border-radius: 50%;
      filter: blur(40px);
      opacity: 0.1;
      top: 0;
      left: 25%;
      transform: translateX(-25%);
      z-index: 0;
      max-width: 551px;
      width: 100%;
      height: 551px;
}

.intro__elipse-blue {
      position: absolute;
      background-color: #E2F8F0;
      border-radius: 50%;
      filter: blur(40px);
      opacity: 0.7;
      bottom: 0;
      right: 25%;
      transform: translateX(25%);
      max-width: 551px;
      width: 100%;
      height: 551px;
}

.intro__inner {
      display: $d-f;
      flex-direction: column;
      row-gap: 70px;

      max-width: 617px;
      width: 100%;
}

.intro__textbox {
      display: $d-f;
      flex-direction: column;
      row-gap: 114px;
}

.intro__title {
      color: $neutral-100;
      font-size: 80px;
      letter-spacing: -3px;
      line-height: 120%;
}

.intro__textwithline {
      display: $d-f;
      column-gap: 27px;
}

.textwithline-line {
      max-width: 76px;
      width: 100%;
      position: relative;
      
      &::after {
            position: absolute;

            top: 20px;
            content: '';
            display: block;
            max-width: 100%;
            width: 100%;
            height: 1px;
            background-color: $color-fullblack;
      }
      
}

.intro__subtitle {
      @include heading-four-bold; 
}

// Intro form

.intro__form {
      display: $d-f;
      justify-content: space-between;
      
      max-width: 471px;
      width: 100%;

}


.intro__form-email {
      border-bottom: 1px $neutral-40 solid;
      max-width: 280px;
      width: 100%;
      color: $neutral-60;
      font-size: 16px;
      line-height: 150%;

      &::placeholder {
            color: $neutral-60;
            font-size: 16px;
            line-height: 150%;
      }
}


.intro__btn {
      max-width: 175px;
      width: 100%;
      text-align: center;
      padding: 14px 42px;
      border: solid 2px $btn-back;
      @include bodyLargeBold;
      transition: all .3s ease;
      &:hover {
            background-color: $neutral-10;
            color: $btn-back;
      }
}


// intro stats bord


.intro__statswrapper {
      display: $d-f;
      flex-direction: column;
      row-gap: 29px;
}

.intro__statsbord {
      max-width: 100%;
      width: 100%;
      background-color: $color-fullblack;

      border-radius: 8px;
      padding: 20px 29px;
      color: $neutral-10;

      display: $d-f;
      align-items: center;
      justify-content: space-between;
}

.intro__statsbord--item {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
}

.statsbord__elementname {
      @include bodyMediumSemibold;
      color: $statsbord-namecolor;
}

.statsbord__price {
      font-weight: $fw-700;
      font-size: 20px;
      line-height: 26px;
}

.statsbord__otherinfo {
      display: flex;
      align-items: center;
      column-gap: 6px;
}

.statsbord__otherinfo--proc {
      @include bodyMediumSemibold;

      &.proc-up {
            color: $statsbord-proccolorup;
      }
      &.proc-down {
            color: $statsbord-proccolordown;
      }
}

.statsbord__otherinfo--year {
      line-height: 22px;
      letter-spacing: -0.5px;
      color: $statsbord-namecolor;
}