

// intro

.section__intro {
      padding: 87px 0px 140px 0px;
      max-height: 785px;

      position: relative;
}

.intro__wrapper {
      max-width: 100%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 1;
}

.intro__elipse-red {
      position: absolute;
      background-color: #FA7515;
      border-radius: 50%;
      filter: blur(40px);
      opacity: 0.1;
      top: 0;
      left: 25%;
      transform: translateX(-25%);
      z-index: 0;
      max-width: 551px;
      width: 100%;
      height: 551px;
}

.intro__elipse-blue {
      position: absolute;
      background-color: #E2F8F0;
      border-radius: 50%;
      filter: blur(40px);
      opacity: 0.7;
      bottom: 0;
      right: 25%;
      transform: translateX(25%);
      max-width: 551px;
      width: 100%;
      height: 551px;
}

.intro__inner {
      display: flex;
      flex-direction: column;
      row-gap: 70px;

      max-width: 617px;
      width: 100%;
}

.intro__textbox {
      display: flex;
      flex-direction: column;
      row-gap: 114px;
}

.intro__title {
      color: $neutral-100;
      font-size: 80px;
      letter-spacing: -3px;
      line-height: 120%;
}

.intro__textwithline {
      display: flex;
      column-gap: 27px;
}

.textwithline-line {
      max-width: 76px;
      width: 100%;
      position: relative;
      
      &::after {
            position: absolute;

            top: 20px;
            content: '';
            display: block;
            max-width: 100%;
            width: 100%;
            height: 1px;
            background-color: $color-fullblack;
      }
      
}

.intro__subtitle {
      @include heading-four-bold; 
}

