// Section Partners

.section__partners {
      padding: 86px 0px;
}

// Section title

.partners__sectiontitle--wrapper {
      max-width: 300px;
      width: 100%;

      display: flex;
      flex-direction: column;
      row-gap: 16px;
}


// Partners content

.partners__wrapper {
      display: flex;
      align-items: center;
      column-gap: 62px;
      justify-content: center;

      max-width: 100%;
      width: 100%;
}


.partners__content {
      display: flex;
      align-items: center;
      column-gap: 94px;
      flex-wrap: wrap;
      row-gap: 60px;
}

.partners__column {
      display: flex;
      flex-direction: column;
      row-gap: 60px;
}

.partner__imglogo {
      cursor: pointer;
      transition: all .3s ease;
      &:hover {
            scale: 1.1;
      }
}
