
// Button

.btn {
      color: $neutral-10;
      background-color: $btn-back;
      border-radius: 50px;
}

// Container

.df-container--80 {
      display: flex;
      flex-direction: column;
      row-gap: 80px;
}

