

// Heading

@mixin heading-one-bold {
      font-size: 64px;
      line-height: 72px;
      font-weight: $fw-700;
}

@mixin heading-four-bold {
      font-size: 32px;
      line-height: 40px;
      font-weight: $fw-700;
      color: $neutral-100;
}



// body

// body Medium

@mixin bodyMediumMedium {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
}

@mixin bodyMediumSemibold {
      font-size: 14px;
      line-height: 20px;
      font-weight: $fw-600;
}

// body Large

@mixin bodyLargeSemibold {
      font-size: 16px;
      line-height: 24px;
      font-weight: $fw-600;
}

@mixin bodyLargeBold {
      font-size: 16px;
      line-height: 24px;
      font-weight: $fw-700;
}
