// Color

// primary color
$primary-main: #4C4DDC;
$primary-surface: #F5F5FF;
$primary-border: #DFE0F3;
$primary-hover: #3334CC;
$primary-pressed: #085885;
$primary-focus: #DBDBF8;

// secondary color
$secondary-main: #FFD33C;
$secondary-surface: #FFF6D8;
$secondary-border: #FFF0BE;
$secondary-hover: #D5B032;
$secondary-pressed: #806A1E;
$secondary-focus: #FFF6D8;

// success color
$success-main: #50CD89;
$success-surface: #F2FFF8;
$success-border: #C5EED8;
$success-hover: #46B277;
$success-pressed: #28593F;
$success-focus: #DCF5E7;

// error color
$error-main: #F14141;
$error-surface: #FFF2F2;
$error-border: #FAC0C0;
$error-hover: #D93A3A;
$error-pressed: #802A2A;
$error-focus: #FCD9D9;

// info color
$info-main: #7239EA;
$info-surface: #F6F2FF;
$info-border: #D0BDF8;
$info-hover: #6633D1;
$info-pressed: #3F2478;
$info-focus: #E3D7FB;

// neutral

$neutral-10: #fff;
$neutral-20: #F5F5F5;
$neutral-30: #EDEDED;
$neutral-40: #D6D6D6;
$neutral-50: #C2C2C2;
$neutral-60: #878787;
$neutral-70: #606060;
$neutral-80: #383838;
$neutral-90: #403A3A;
$neutral-100: #101010;

// Other color

$color-fullblack: #000000;

// Font family

$ff-inter: 'Inter', sans-serif;
$ff-poppins: 'Poppins', sans-serif;
$ff-roboto: 'Roboto', sans-serif;

// Font weight

$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;


// Media size

$laptop-size: 1024px;
$large-size: 992px;
$tablet-size: 768px;
$mobile-size: 576px;



// other variables

$d-n: none;
$d-f: flex;
$d-g: grid;

$btn-back: #1D1E25;
$statsbord-namecolor: #5C616F;
$statsbord-proccolorup: #60D39C;
$statsbord-proccolordown: #E35454;


